<html>
    <head>
        <style type="text/css">

            h2 {color:#77777B;font-family: Verdana;font-size: 200px;margin-top:20px;margin-left:20px;margin-bottom:0px}
            h3 {font-family: Verdana;font-size: 40px;margin-top:20px;margin-left:20px;margin-bottom:0px}
            p {font-family: Verdana;margin-left:20px;font-size: 13px;margin-top:0px}
            a {font-family: Verdana;margin-left:20px;font-size: 13px;margin-top:0px}
        </style>
    </head>
    <body style="background-color:#2F6666;">

        <center><h2>500</h2>
        <h3>ENCOUNTERED ERROR</h2>
        <p>Sorry, unable to complete your request.</p>
        <a href="/dealer/login/">Click to return dealer login page</a></center>
    </body>
</html>
