            <div id="sidebar">
                <ul class="side-nav">
                    <li>
                        <a href="/jobcard/">
                            <i class="ion-ios-compose-outline"></i>
                            Jobcard
                        </a>
                    </li>
                    <!--<li>
                        <a href="/invoice/">
                            <i class="ion-ios-email-outline"></i>
                            Invoice
                        </a>
                    </li>
                    <li>
                        <a href="/dealer/inventory/">
                            <i class="ion-ios-gear-outline"></i>
                            Spares Inventory
                        </a>
                    </li>
                    <li>
                        <a href="/dealer/service/history/">
                            <i class="ion-ios-paper-outline"></i>
                            Service History
                        </a>
                    </li>-->
                    <!--li class="has-dropdown">
                        <a class="dropdown" href="http://sarav.co/projects/easeservice/reports.html">
                            <i class="ion-ios-list-outline"></i>
                            Reports
                        </a>
                        <ul class="list-unstyled" style="">
                            <li><a href="http://sarav.co/projects/easeservice/report-job-cards.html"><i class="ion-ios-arrow-right"></i> No. of Job Cards</a></li>
                            <li><a href="http://sarav.co/projects/easeservice/report-productivity.html"><i class="ion-ios-arrow-right"></i> Productivity</a></li>
                            <li><a href="http://sarav.co/projects/easeservice/report-accounts.html"><i class="ion-ios-arrow-right"></i> Accounts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://sarav.co/projects/easeservice/account.html">
                            <i class="ion-ios-person-outline"></i>
                            Accounts
                        </a>
                    </li>
                    <li>
                        <a href="http://sarav.co/projects/easeservice/manpower-details.html">
                            <i class="ion-ios-people-outline"></i>
                            Man Power Details
                        </a>
                    </li>
                    <li>
                        <a href="http://sarav.co/projects/easeservice/bay-status.html">
                            <i class="ion-ios-albums-outline"></i>
                            Bay Status
                        </a>
                    </li>
                    <li class="has-dropdown">
                        <a class="dropdown" href="http://sarav.co/projects/easeservice/tool-management.html">
                            <i class="ion-ios-cog-outline"></i>
                            Tool Management
                        </a>
                        <ul class="list-unstyled" style="">
                            <li><a href="http://sarav.co/projects/easeservice/tool-inventory.html"><i class="ion-ios-arrow-right"></i>Tool Inventory</a></li>
                            <li><a href="http://sarav.co/projects/easeservice/tool-usage.html"><i class="ion-ios-arrow-right"></i>Tool Usage</a></li>
                            <li><a href="http://sarav.co/projects/easeservice/special-tool.html"><i class="ion-ios-arrow-right"></i>Special Tool</a></li>
                        </ul>
                    </li-->
                    <li>
                        <a href="/dealer/home/">
                            <i class="ion-ios-speedometer-outline"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/dealer/logout/">
                            <i class="ion-ios-person-outline"></i>Logout</a>
                    </li>
                </ul>
            </div>
        
